%br
%p= link_to "Products", "/products"
%p= link_to "Products Admin", "/products/admin"
%p= link_to "New Product", "/products/new"
%p= link_to "Sites", "/sites"
%p= link_to "New Site", "/sites/new"
%p= link_to "Categories", "/categories"
%p= link_to "New Category", "/categories/new"
%p= link_to "Tags", "/tags"
%p= link_to "New Tag", "/tags/new"
%p= link_to "Referrals", "/referrals"
%p= link_to "New Referral", "/referrals/new"

