- unless params[:widget]
  %h1 Listing products

- unless @products.empty?
  %input(type="hidden" id="category_id" value="#{params[:category_id]}")
  %div.nav
    %a(class="prev browse left")
    %span.nav-text
      %span#page_number 1 
      of 
      = (@products.count / PER_PAGE).round + 1
    %a(class="next browse right")
  .scrollable
    .items
      - @products.in_groups_of(PER_PAGE) do |group|
        %div
          - group.compact.each do |product|
            .item
              %a(href="#{product.local_url(params[:site_id])}" target="blank" id="#{product.id}")
                %img(src="#{product.image_url}")
              %br
              %span
                %a(href="#{product.local_url(params[:site_id])}" target="blank" id="#{product.id}")
                  - if product.brand_name && !product.brand_name.empty? && product.brand_url && !product.brand_url.empty?
                    = succeed '.' do
                      = product.title
                  - else
                    = product.title
                - if product.brand_name && !product.brand_name.empty? && product.brand_url && !product.brand_url.empty?
                  %br
                  by
                  %a(href="#{product.brand_url}" target="blank" id="#{product.id}")
                    = product.brand_name
  
  .clear
- else
  No products found

%br

