- unless params[:widget]
  %h1 Listing products

- unless @products.empty?
  %input(type="hidden" id="category_id" value="#{params[:category_id]}")
  %div.nav
    %a(class="prev browse left")
    %span.nav-text
      %span#page_number 1
      of
      %span.total_pages=(@products.count.round(1) / @per_page).ceil
    %a(class="next browse right")
    = haml :share_buttons
  .scrollable{ "data-per-page" => @per_page }
    .items
      - @products.in_groups_of(@per_page) do |group|
        %div.group
          - group.compact.each do |product|
            - link = product.link #product.local_url(params[:site_id]
            .item
              %a{ :href => link, :target => "blank", :id => product.id }
                %img{ :src => product.image_url }
              %br
              %span
                %a{ :href => link, :target => "blank", :id => product.id }
                  - if product.brand && product.brand.name && !product.brand.name.empty? && product.brand.url && !product.brand.url.empty?
                    = succeed '.' do
                      = product.title
                  - else
                    = product.title
                - if product.brand && product.brand.name && !product.brand.name.empty? && product.brand.url && !product.brand.url.empty?
                  %br
                  by
                  %a{ href: "#{product.brand.url}", target: "blank", id: "#{product.id}" }
                    = product.brand.name

  .clear
- else
  %div
    No products found

%br

:javascript
  jQuery(function($){
    var scrollable = $('.scrollable');
    var per_page = scrollable.attr('data-per-page');
    var first_item = $('.item:first', scrollable);
    var inner_width = parseInt(first_item.outerWidth()) + parseInt(first_item.css('margin-left')) + parseInt(first_item.css('margin-right'));
    $('.group', scrollable).add(scrollable).add($('.nav')).width(inner_width*per_page);

    var site_url = "#{@site.url}";
    var site_name = "#{@site.name}";
    var cj_id = "#{@site.cj_id}";
    if (site_name && site_url && cj_id) {
      site_url = site_url.replace('http://', '').replace('https://', '');
      Scrooge.addCjSite('', site_url, cj_id, '10456099').start();
    }
  });


